#login_page_intro{
    /* 아주 교통 관리자 페이지 */
    position: relative;
    text-align: center;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* identical to box height, or 80% */


    color: #000000;

}

#login_outer_frame{
    /* Frame 688 */


    position: relative;
    left: 0%;
    right: 0%;
    top: 23.53%;
    bottom: 27.33%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#login_text{

    /* Login to your Account */


    position: relative;
    text-align: center;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;

    color: #525252;
}

#login_inner_frame{
    /* Frame 12 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: relative;
    width: 420px;
    height: 354px;
    justify-content: center;

}

#login_email_label{
    /* Email */


    width: 36px;
    height: 19px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    /* Gray 3 */

    color: #828282;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#login_email_textfield{

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 10px;
    gap: 13px;

    width: 420px;
    height: 45px;

    border: 1px solid #DED2D9;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#login_password_label{
    /* Password */


    width: 63px;
    height: 19px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    /* Gray 3 */

    color: #828282;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#login_password_textfield{
    /* Frame 4 */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px 13px;
    gap: 13px;

    width: 420px;
    height: 45px;

    border: 1px solid #DED2D9;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

#login_checkbox_div{
    /* Frame 9 */


    /* Auto layout */
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;

    width: 420px;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}


#login_checkbox_label{
    /* Remember Me */

    height: 16px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #A1A1A1;
}

#login_button{
    /* Frame 7 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 10px 12px;
    gap: 13px;

    width: 420px;
    height: 50px;

    background: #7F265B;
    border-radius: 6px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}