#notice_head {
  /* 아주 교통 관리자 페이지 */
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 32px;
  color: #000000;
}

#notice {
  /* 공지사항 */
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;

  color: #000000;
}

#notice_categories_frame {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#notice_category {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

#notice_category_dropdown {
  box-sizing: border-box;

  width: 100vw;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 16px;

  background: #ffffff;

  border: 2px solid #afb1b6;
  border-radius: 8px;
}

#notice_category_dropdown_button {
  /* position: relative;
  left: 240px; */
}

#notice_route {
  /* 공지사항 노선 설정 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

#notice_route_dropdown {
  box-sizing: border-box;
  width: 100vw;
  height: 36px;

  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 16px;

  background: #ffffff;

  border: 2px solid #afb1b6;
  border-radius: 8px;
}

#notice_route_dropdown_button {
}

#notice_inputfields_frame {
  width: 100vw;
  /* height: 450px; */

  display: flex;
  flex-direction: column;
}

#notice_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

#notice_name_field {
  box-sizing: border-box;
  width: 100vw;
  height: 50px;

  background: #ffffff;
  border: 3px solid #afb1b6;
  border-radius: 8px;
}

#notice_content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#notice_content_field_div {
  display: flex;
  justify-content: center;
}

#notice_content_field {
  box-sizing: border-box;
  width: 100vw;
  height: 293px;
  background: #ffffff;
  border: 3px solid #afb1b6;
  border-radius: 8px;
}

#notice_register_button_div {
  display: flex;
  justify-content: center;
}

#notice_register_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 10px 12px;
  gap: 13px;

  background: #7f265b;
  border-radius: 6px;

  height: 25px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
