#main_head_frame {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#main_head_frame > * {
  width: 30%;
}
#main_head_frame > button {
  display: flex;
  justify-content: start;
  border: 0px;
  background-color: #ffffff;
}
#main_head_frame > h1 {
  width: 40%;
}

#semester_body_frame {
  height: 1331px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#semester_gwangyo_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

#semester_frame {
  width: 100%;
}

#semester_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

th {
  font-size: 10px;
}

td {
  text-align: center;
}
