#head_outer_div {
  height: 100px;
  text-align: center;
}
#main_head_frame {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
#head_menu_button {
  border: 0px;
  background-color: #ffffff;
}

#head_login_button {
  border: 0px;
  background-color: #ffffff;
}
