#chatlist_outer_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chatlist_title_div {
  width: 100%;
  height: 69px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#chatlist_title_div > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#chatlist_title_div > button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  width: 65px;
  height: 30px;

  background: #7f265b;
  border-radius: 4px;
  border: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

#chat_page_button {
  width: 202px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
